:root {

    /* primary colors */
    --light-red: hsl(0, 100%, 67%);
    --orange-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --gobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */
    --Light-slate-blue: hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);

    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

    /* Font Size */
    --font-size: 18px;
    --font-family: 'Hanken Grotesk', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

.reaction-bg {
    background: var(--light-red);
}

.reaction-color {
    color: var(--light-red);
}

.memory-bg {
    background: var(--orange-yellow);
}

.memory-color {
    color: var(--orange-yellow);
}

.verbal-bg {
    background: var(--green-teal);
}

.verbal-color {
    color: var(--green-teal);
}

.visual-bg {
    background: var(--gobalt-blue);
}

.visual-color {
    color: var(--gobalt-blue);
}

.text-secondary {
    color: var(--Light-lavender);
}

.score-color {
    color: var(--Dark-gray-blue);
}

.main-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42rem;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.container .section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 25px;
    flex: 1;
    padding: 2rem 3rem;
}

.container .section:first-child {
    background-image: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    border-radius: 25px;
}

.score-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(var(--Violet-blue), var(--Persian-blue));
}

.score-container h1 {
    color: white;
    font-size: 4rem;
}

.score-container h4 {
    color: var(--Light-slate-blue);
}

.result-section__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

.result-section__wrapper h1 {
    color: white;
    font-weight: bold;
}

.result-section__wrapper p {
    color: hsl(240,100%,84%);
    text-align: center;
}

.section:last-child {
    align-items: flex-start;
    justify-content: flex-start;
}

.section:last-child h1 {
    color: var(--Dark-gray-blue);
}

#category-list__wrapper {
    width: 100%;
}

#category-list__wrapper ul {
    list-style-type: none;
}

#category-list__wrapper ul li {
    width: 100%;
}